.body {
    background-color: #212529;
    color: #ffffff;
}

.form-group label {
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px !important;

}

.form-control {
    background-color: #ffffff !important; 
    color: #000000; 
    height: 50px;
    font-size: 20px !important;
    padding-left: 10px !important;
}

.form-control:focus {
    border: 4px solid #661645 !important;
    box-shadow: 0 0 0 0.2rem rgba(103, 16, 69, 0.25); 
}

.selectpicker {
    width: 100%; 
}

.btn-primary {
    background-color: #212529;
    border-color: #212529;
}

.btn-primary:hover {
    background-color: #212532;
    border-color: #212532;
}

.button-div {
    margin-top: 40px;
    text-align: center;
}

.h1 {
    color: #661645 !important;
}